@model Ecommerce.Domain.Entities.Category
<h2>Category Details</h2>
<p><b>Id:</b> @Model.ID</p>
<p><b>Name:</b> @Model.Name</p>
<p><b>Description:</b> @Model.Description</p>
<a asp-area="Admin" asp-controller="Category" asp-action="Index">Back</a>